<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.coolsound.cart.dao.CartMapper">
 	<insert id="insertCart" parameterType="map">
 		INSERT INTO `cart`
 		(
 			`userId`
			, `productId`
			, `count`
			, `createdAt`
			, `updatedAt`
		)
 			
 		VALUES
 		(
 			#{userId}
			, #{productId}
			, #{count}
			, NOW()
			, NOW()
		)
 	</insert>
 	
 	<select id="selectCartListByUserId" parameterType="int" resultType="com.coolsound.cart.domain.Cart">
 		SELECT
 			``
 		FROM
 			`cart`
 		WHERE 
 			`userId` = #{userId}
 	</select>
 </mapper>