<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.coolsound.order.dao.OrderMapper">
 	<insert id="insertOrder" parameterType="map" useGeneratedKeys="true" keyProperty="id">
 		INSERT INTO `order`
 		(
			`userId`
			, `post`
			, `address1`
			, `address2`
			, `request`
			, `price`
			, `deliveryFee`
			, `state`
			, `createdAt`
			, `updatedAt`
 		)
 		VALUES
 		(
			#{userId}
			, #{post}
			, #{address1}
			, #{address2}
			, #{request}
			, #{price}
			, 2500
			, "주문확인"
			, NOW()
			, NOW() 		
 		)
 	</insert>
 	
 	<insert id="insertOrderProduct" parameterType="map">
 		INSERT INTO `orderproduct`
 		(
			`orderId`
			, `productId`
			, `count`
			, `price`
 		)
 		VALUES
 		(
 			#{orderId}
 		<foreach collection="prdList" item="item">
 			, #{item.product.id}
 			, #{item.cart.count}
 			, #{item.product.price} * #{item.cart.count}
 		</foreach>
 			
 		)
 	
 	</insert>
 </mapper>