<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.coolsound.shop.dao.ProductMapper">
 	<select id="selectProductListByCategoryId" parameterType="int" resultType="com.coolsound.shop.domain.Product">
 		SELECT
 			`id`
			, `name`
			, `categoryId`
			, `artist`
			, `producer`
			, `price`
			, `image1`
			, `image2`
			, `detail`
			, `releaseDate`
			, `stock`
			, `createdAt`
			, `updatedAt`
 		FROM
 			`product`
 			<if test= "categoryId != null">
 		WHERE `categoryId` = #{categoryId}
 			</if>
 		ORDER BY `createdAt` DESC
 	</select>
 	<select id="selectProductById" parameterType="int" resultType="com.coolsound.shop.domain.Product">
 		SELECT
 			`id`
			, `name`
			, `categoryId`
			, `artist`
			, `producer`
			, `price`
			, `image1`
			, `image2`
			, `detail`
			, `releaseDate`
			, `stock`
			, `createdAt`
			, `updatedAt`
 		FROM
 			`product`
 		WHERE `id` = #{id}
 	</select>
 	
 	<insert id="insertProduct" parameterType="map">
 		INSERT INTO `product`
 		(
 			`name`
			, `categoryId`
			, `artist`
			, `producer`
			, `price`
			, `image1`
			, `image2`
			, `detail`
			, `releaseDate`
			, `stock`
			, `createdAt`
			, `updatedAt`
 		)
 		VALUES
 		(
 			#{name}
			, #{categoryId}
			, #{artist}
			, #{producer}
			, #{price}
			, #{image1}
			, #{image2}
			, #{detail}
			, #{releaseDate}
			, #{stock}
			, NOW()
			, NOW()
 		)
 	</insert>
 	
 	<select id="selectProductListByNameOrArtist" parameterType="String" resultType="com.coolsound.shop.domain.Product">
 		SELECT
 			`id`
			, `name`
			, `categoryId`
			, `artist`
			, `producer`
			, `price`
			, `image1`
			, `image2`
			, `detail`
			, `releaseDate`
			, `stock`
			, `createdAt`
			, `updatedAt`
 		FROM
 			`product`
 		WHERE name like CONCAT('%',#{search},'%') OR artist like  CONCAT('%',#{search},'%')
 		ORDER BY `createdAt` DESC
 	</select>
 	
 	<update id="updateProduct" parameterType="map">
 		UPDATE
 			`product`
 		SET
 			`name` = #{name}
			, `categoryId` = #{categoryId}
			, `artist` = #{artist}
			, `producer` = #{producer}
			, `price` = #{price}
			, `image1` = #{image1}
			, `image2` = #{image2}
			, `detail` = #{detail}
			, `releaseDate` = #{releaseDate}
			, `stock` = #{stock}
			, `updatedAt` = NOW()
 		WHERE
 			`id` = #{Id}
 	</update>
 </mapper>