@charset "EUC-KR";
header {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

li {
	list-style: none;
}
ul {
	margin:0;
	padding:0;
}

a {
	text-decoration: none;
	color: #333;
	font-size: 12px;
}

table {width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    word-wrap: break-word;
    word-break: keep-all;
}

    
.contents {
	width: 1260px;
	margin:0 auto;
}
header .nav1, .nav1:hover {
	color: white;
	font-size: 13px;
}

header .header-top {
	width: 100%;
    height: 45px;
    box-sizing: border-box;
    border-bottom: 1px solid #e6e6e6;
    background: #333;
}

header .top-area {
    position: relative;
    width: 1260px;
    height: 100%;
    margin: 0 auto;
}

header .gnb {
    right: 0px;
    top: 5px;
    position: absolute;
}

header .gnb li {
    display: block;
    float: left;
    margin: 0 0 0 15px;
}

header .header-mid {
    width: 100%;
    height: 140px;
}


header .mid-area {
    width: 1260px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

header .bi {
    left: 0px;
    top: 13px; position: absolute;
}

header .search-form {
    position: absolute;
    left: 50%;
    top: 50px;
    margin-left: -176px;
}

header .search-box {
	float: left;
    width: 350px;
    height: 35px;
    border: 1px solid #c8c8c8;
    border-radius: 19px;
    margin-left: 90px;
}
    
header .search-word {    
	border-radius: 0px;
    width: 260px;
    height: 24px;
    margin: 6px 10px 6px 20px;
    padding: 0px 10px;
    border: 0;
    line-height: 24px;
    font-size: 12px;
    color: #7c8389;
    background: #FFFFFF;
}
    
nav .menu {
	z-index: 1; 
	width: 180px; 
	background: #fff; 
	margin: 0 0 0 1px; 
	border: 4px solid #000;
	padding: 0;
}
.menu a {
	display: block;
    color: rgb(51, 51, 51);
    padding-bottom: 5px;
    padding-left: 10px;
    font: 12px / 16px ;
    text-decoration: none;
}

.menu a:hover {
	color:cornflowerblue;
}
nav .last-line {
	padding-bottom: 6px; 
	border-bottom: 1px solid #dddddd;
}

nav .menu li {
	background: #fff;
	position: relative; 
	width: 167px; display: block; 
	margin: 0 5px; 
	list-style: none;
}
        
.prd-list .center {
	padding: 0 10px;
}

.prd-list .info {
	width: 320px;
	padding: 0;
	margin: 0 auto 80px;
}

.prd-list .thumb {
	width: 200px; 
	height:200px; 
	position: relative;
	width: 293px; 
	height: 293px; 
	margin-left: auto; 
	margin-right: auto;
    border: 1px solid #ddd;
}
    
 .prd-list .info li {
	list-style: none;
    text-align: left;
    color: #333;
}

.prd-list .dsc {
    padding: 10px 0;
    border-bottom: 1px solid #e6e6e6;
}

.prd-list .price {
    margin-top: 10px;
    color: #333;
    font-size: 13px;
}

.person-tb .col1 {
	padding-left: 15px;
	text-align: left;
}

.person-tb .col2 {
	text-align: left;
}

#loginWrap {
    position: relative;
    border: 1px solid #e8e8e8;
    width: 428px;
    margin: 70px auto 30px;
    padding: 27px 0 30px 0;
    color: #111;
}

#loginWrap .login-box h3 {
    margin: 0 0 19px 0;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
}

#loginWrap .input-group {
	position: relative;
    width: 330px;
    margin: 0 auto;
}

#loginWrap .frm-list input {
    float: left;
    width: 219px;
    height: 30px;
    padding: 2px 0 2px 6px;
    border: 0 none;
    color: #8F8F91;
    font-size: 12px;
    font-weight: 500;
    color: #333;
    letter-spacing: 1px;
}

#loginWrap .frm-list li label {
    overflow: hidden;
    display: block;
    width: 328px;
    margin: 0 0 6px;
    border: 1px solid #e7e7e7;
    border-radius: 0;
    color: #8F8F91;
}

#loginWrap .frm-list li label span {
    float: left;
    width: 90px;
    height: 34px;
    line-height: 34px;
    font-size: 9px;
    letter-spacing: 1px;
    padding: 0 0 0 10px;
    font-weight: 400;
    color: #111;
}

#loginWrap #loginBtn {
	display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
    padding: 0px 8px 0 9px;
    border-radius: 0;
    width: 100%;
    height: 54px;
    line-height: 54px;
    border: 1px solid #333;
    background: #333;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
}

#loginWrap .sign-up-box {
	position: relative;
    width: 330px;
    margin: 0 auto;
}

#loginWrap .findIdPw {
    padding: 13px 0 12px;
    margin: 0 0 15px 0;
    border-bottom: 1px solid #eaeaea;
}

#loginWrap #joinBtn {
	display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 51px;
    line-height: 51px;
    border: 1px solid #8a8a8a;
    background: #8f8f8f;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
}

#myPageWrap .my-page-nav a{
	display: inline-block;
    box-sizing: border-box;
    vertical-align:middle;
    text-align: center;
    width: 150px;
    height: 150px;
    line-height: 135px;
    border: 1px solid #8a8a8a;
    background: #999;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
}

#myPageWrap .order-history-menu {
	border-bottom: 3px solid #000000;
    padding-bottom: 14px;
}

.person-info #signUpBtn{
	display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
    width: 150px;
    height: 51px;
    line-height: 51px;
    border: 1px solid #8a8a8a;
    background: #8f8f8f;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
}

#product-detail .thumb-wrap {
	float: left;
    width: 700px;
    text-align: center;
}

#product-detail .thumb {
	width: 440px;
    text-align: center;
    margin: 0 auto;
}

#product-detail .info {
	float: right;
    width: 500px;
}