@charset "EUC-KR";
header .section1 {padding-top:8px;}
header .header-logo {float:left; margin-top: 20px;}
header .inner {float:right; text-align:right;}
header .nav1, .nav1:hover {color: #444; font-size: small;}

nav .menu {z-index: 1; width: 177px; background: #fff; margin: 0 0 0 1px; border: 6px solid #000;}
nav .last-line {padding-bottom: 6px; border-bottom: 1px solid #dddddd;}

nav .menu li {background: #fff; position: relative; width: 167px; display: block; margin: 0 5px; list-style: none;}

table {width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    word-wrap: break-word;
    word-break: keep-all;}
    
 .prd-list .center {padding: 0 10px;}
 .prd-list .info {width: 320px; padding: 0; margin: 0 auto 80px;}
 .prd-list .thumb {width: 200px; height:200px; position: relative; width: 293px; height: 293px; margin-left: auto; margin-right: auto;
    border: 1px solid #ddd;}
    
 .prd-list .info li {
	 list-style: none;
    text-align: left;
    color: #333;
}

.prd-list .dsc {
    padding: 10px 0;
    border-bottom: 1px solid #e6e6e6;
}
.prd-list .price {
    margin-top: 10px;
    color: #333;
    font-size: 13px;
}